.card {
    margin-bottom: 25px;
}

.card-footer a {
    width: 200px;
    background-color: #4c1d1b;
}

.card-header {
    background-image: url("../../assets/images/TestImage.jpg");
}

.card-text {
    display: -webkit-box;
    overflow: hidden;
    margin-bottom: 5px;
    text-overflow: ellipsis;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
}
