.card {
    margin-bottom: 35px;
}

.card-footer a {
    width: 200px;
    background-color: #4c1d1b;
}

.card-header {
    background-image: url("../../assets/images/TestImage.jpg");
}

.card-body {
    height: 105px;
}
