@import "../../theme";

.warning{
    border-radius: 0 !important;
    background: #c60909;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    color: white;
    padding-bottom: 2px;

}

.notice {
    border-radius: 0 !important;
    background: darkslategrey;
    color: white;
    padding-bottom: 2px;
}

.info {
    border-radius: 0 !important;
    background: #3871dc;
    color: white;
    padding-bottom: 2px;

}

.containsBanner {
    position: relative;
}

.banner {
    position: absolute;
    top: 0;
    left: 0;
}

p {
    text-align: center;
    font-size: 20px;
    font-weight: bold;
}
