.search-bar {
    padding-left: 42px; 
    border: 1px solid #343a40;
    border-radius: 25px;
    box-shadow: inset 0 -2px 0 #343a40;
    height: 38px;
}

.search-bar:focus {
    border-color: rgba(223,225,229,0);
    box-shadow: 0 2px 4px rgb(32, 33, 36);
}

.search-icon {
    margin-right: -30px;
    float: right;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 10px;
    position: relative;
    border-radius: 5px;
    color: rgba(128, 0, 0, 0.651);
}

.search-icon:hover {
    color: maroon;
}