.context-menu {
  position: fixed;
  background-color: #d6d8db;
  padding: 10px 0;
  cursor: default;
}

.context-menu__item {
  padding: 0 30px;
}

.context-menu .context-menu__item:hover {
  background-color: #c7c7c9;
}
