// These classes change the color of the links between nodes whenever they are passed in
// to the className object of each link in schema.links.

.bi.bi-diagram
.bi-link-canvas-layer
.bi-diagram-link.red-link
.bi-link-path {
    stroke: #bb302d;
}

.bi.bi-diagram
.bi-link-canvas-layer
.bi-diagram-link.blue-link
.bi-link-path {
    stroke: #004e8c;
}

.bi.bi-diagram
.bi-link-canvas-layer
.bi-diagram-link.yellow-link
.bi-link-path {
    stroke: #c8be07;
}

.bi.bi-diagram
.bi-link-canvas-layer
.bi-diagram-link.green-link
.bi-link-path {
    stroke: #00864b;
}
