@import "../../theme";

.navbar {
    background-color: maroon;
    color: white !important;
    height: 60px;
}

.navbar-brand {
    color: white;

    &:hover {
        font-weight: bolder;
    }
}

.nav-item a {
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;

    span {
        display: block;
        margin: auto;
    }

    &:hover {
        text-decoration: none;
        color: darken(white, 20%) !important;
    }
}

.logo {
    width: 60px;
}

.nav-link {
    color: white !important;

    &:hover {
        color: yellow !important;
    }
}

svg { width: 200px; }

