.navbar {
    background-color: maroon;
    color: white !important;

    &:hover {
        color: yellow;
    }
}

.navbar-brand {
    color: white;

    &:hover {
        color: yellow;
    }
}

.nav-item a {
    color: white;

    &:hover {
        color: yellow;
    }
}
