/**
 * Global Styles will be written here.
 */
@import "theme";

html,
body {
    font-size: .9vw;

    @media only screen and (min-width: 1920px) {
        font-size: 18px;
    }

    @media only screen and (max-width: 990px) {
        font-size: 15px;
    }
}

body {
    margin: 0;
    padding: 0;
}

code {
    font-family:
        source-code-pro,
        Menlo,
        Monaco,
        Consolas,
        "Courier New",
        monospace;
}

/*
Font weights and their mapping to the design
--------------------------------------------
Light	300
Normal, Regular	400
Medium	500
Semi Bold, Demi Bold	600
Bold	700
Extra Bold, Ultra Bold	800
Black, Heavy
*/


h1 {
    font-size: 36px;
    font-weight: 500;
}

h2 {
    font-size: 24px;
    font-weight: 300;
}

hr {
    padding: 0 6.25% 0 6.25%;
    width: 80%;
}


.ui.modals.visible {
    background: transparent !important;

    .modal {
        background: transparent !important;
    }

    .image.content {
        padding: 0 !important;
        background: transparent !important;
    }

    img {
        width: 100% !important;
        object-fit: cover;
    }

    .description {
        position: absolute;
        display: flex !important;
        justify-content: center;
        align-items: flex-end;
        width: 100%;
        height: 100%;
        animation: fade 2s linear;

        p {
            margin-bottom: 20px;
            opacity: 0;
        }

        &:hover {
            p {
                opacity: 1;
                background: rgba(210, 210, 210, .5);
                padding: 20px 30px;
                transition: opacity 250ms ease-in-out;
            }
        }
    }
}


// fix a bug in react-bootstrap where fading items stay hidden
.fade.show {
    opacity: 1;
}

// Style the console globally to have rounded corners.
.wmks > canvas {
    border-radius: 4px;
}


.full-height-container {
    display: flex !important;
    flex: 1 1 auto;
    flex-flow: column;
}

.fill-height {
    flex: 1 1 auto;
}
