@import "../../theme";

.warning {
    border-radius: 0 !important;
    background: #c60909;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.notice {
    border-radius: 0 !important;
    background: darkslategrey;
}

.info {
    border-radius: 0 !important;
    background: #3871dc;
}


.alert-container {
    color: white;
    padding-bottom: 2px;
    margin-bottom: 0px;
}


p {
    text-align: center;
    font-size: 20px;
    font-weight: bold;
}
