.number-code {
    h1 {
        font-size: 100px;
    }

    h2 {
        font-size: 75px;
        padding-bottom: 30px;
    }

    div {
        font-size: 20px;
        padding-bottom: 30px;
    }

    p {
        padding-left: 20px;
        font-size: 15px;
    }

    img {
        width: 50%;
        height: auto;
        float: left;
    }
}
