.number-code {
    h1 {
        font-size: 100px;
    }

    h2 {
        font-size: 75px;
        padding-bottom: 30px;
    }

    h2 {
        font-size: 75px;
        padding-bottom: 30px;
    }

    body {
        font-size: 20px;
        padding-bottom: 400px;
    }

    p {
        font-size: 15px;
    }
}
